
/* --- Слайдер / Горизонтальная прокрутка --- */

.collection-slider {
    display: flex;
    gap: 30px;

    padding: 0 15px; 
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 30px;
    scrollbar-width: none;
}

.collection-slider::-webkit-scrollbar {
    display: none;
}

.slider__item {
    flex-shrink: 0;
    /* Базовая ширина */
    width: 250px; 
    text-align: left; /* Текст слева */
}

/* 1. Стили для карточек разного размера */

.slider__card-wrapper {
    background-color: #FBFCE6;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Квадратная карточка (СЛАДКОЕЖКА, КЛАССИКА, ЭЛЕГАНТНОСТЬ) */
.slider__item--square .slider__card-wrapper {
    aspect-ratio: 1 / 1;
}

/* Высокая/прямоугольная карточка (ЦВЕТОЧНОЕ, ЗЕФИР, РАДОСТЬ) */
.slider__item--tall .slider__card-wrapper {
    /* Создаем прямоугольник, чтобы он был выше */
    aspect-ratio: 3 / 4; 
}


.slider__card-wrapper img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

/* 2. Расположение текста сбоку справа */
.slider__text {
    /* Чтобы название и категория были в две строки */
    display: block; 
    padding-left: 15px; /* Небольшой отступ слева, чтобы текст не прилипал */
}

.slider__name {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.slider__category {
    font-size: 14px;
    color: #2C2C2C;
    opacity: 0.7;
    margin: 0;
}
