@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #FBFCE6;
    color: #2C2C2C
}

a {
    color: #2C2C2C;
    text-decoration: none;

}
ul {
    list-style: none;
    padding: 0;
    margin: 1;
}    

.header {
  padding: 0;  
  
  position: relative;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;

}

.header_logo{

}

.btn{
    
}


.header-list {
    display: flex; 
    gap: 15px; 
}

.header-icons img {
    width: 24px; 
    height: 24px;
}

