.product-card {
    border: 1px solid var(--color-fonts);
    padding: 32px 24px;
    display: grid;
}



/* Карточка товара */
.product-card {
    background-color: #FBFCE6;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card__heart {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.product-card__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-card__info p {
    margin: 0;
    line-height: 1.3;
}

.product-card__name {
    font-weight: 700;
    text-transform: uppercase;
}

.product-card__category {
    font-size: 13px;
    opacity: 0.7;
}

.product-card__price {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.product-card__old-price {
    font-size: 12px;
    opacity: 0.5;
    text-decoration: line-through;
    display: block;
}
categories-filter .container {
    /* Главный контейнер для разделения двух групп */
    display: flex;
    justify-content: space-between; /* РАСТЯГИВАЕТ: Группа кнопок влево, Группа фильтров вправо */
    align-items: center;
    padding-top: 20px; 
    padding-bottom: 20px;
}
