.product-card {
    border: 1px solid var(--color-fonts);
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #FBFCE6;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0px;
    height: 400px; /* Фиксированная высота */
    min-height: 400px; /* Минимальная высота */
    padding: 10px;
}

.product-card__image {
    width: 100%;
    height: 300px; /* Фиксированная высота изображения */
    object-fit: cover; /* Чтобы изображение заполняло область */
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1; /* Занимает оставшееся пространство */
    min-height: 80px; /* Минимальная высота для текста */
}

.product-card__info {
    flex: 1;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card__name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение в 2 строки */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card__category {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 4px;
}

.product-card__sex {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 8px;
}

.product-card__price {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    white-space: nowrap;
    margin-left: 10px;
}