/* Стили для группы кнопок */
.category-buttons {
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
}

/* Стили для отдельных кнопок */
.category-btn {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #fbfce6; /* Черная рамка для неактивных */
  background-color: transparent;
  cursor: pointer;
}

.category-btn--active {
  background-color: #fbfce6; /* Активная кнопка - желтый фон */
  border-color: #fbfce6; /* Желтая рамка */
}

/* Стили для группы фильтров и сортировки */
.filter-sort-bar {
  display: flex;
  gap: 20px; /* Расстояние между ссылками "Фильтры" и "Сортировка" */
  align-items: center;
}

.filter-sort-bar a {
  /* Общий стиль для ссылок с иконками */
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}

.filter-sort-bar img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.more-button-wrapper {
  display: flex;
  justify-content: center; /* Центрируем кнопку */
  padding-top: 0 20px;
}

.header {
  padding: 5px 0;
  background-color: #F3E07F;
  position: relative;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
