
/* --- Футер (Подвал) --- */

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #FBFCE6; 
}

.footer__top {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 60px;
}

.footer__col {
    
}


.footer__col--logo {
    flex-basis: 10%;
}

.footer__logo-link img {
    
    width: 120px;
    height: auto;
}

/* Стили для списков ссылок (Каталог и Соцсети) */
.footer__list {
    margin: 0;
    padding: 0;
}

.footer__list li {
    margin-bottom: 10px;
}

.footer__list a {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize; 
    opacity: 0.9;
}

/* Стили для блока социального сообщения */
.footer__col--social-message {
    flex-basis: 20%;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

/* Разделитель */
.footer__divider {
    height: 1px;
    background-color: #D3D3D3; /* Серый цвет для разделителя */
    max-width: 1000px; 
    margin: 0 auto 40px; 
}

/* Нижняя секция (Юридическая информация) */
.footer__bottom {
    display: flex;
    justify-content: center; /* Центрируем список ссылок */

}

.footer__legal-list {
    display: flex;
    gap: 10px; /* Расстояние между ссылками */
}

.footer__legal-list a {
    font-size: 14px;
    opacity: 0.7;
}
